body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
h1{
    font-size: 45px;
}
.diff-color{
    color:lightsalmon;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 120px;
    text-align: justify;
}
.half-width img{
    width: 70%;
    margin-top: 5px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(lightsalmon,rgb(248, 45, 130));
    color: white;
    font-weight: 800;
    padding: 10px 40px;
    border-radius: 7px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}