body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}
h1{
    font-size: 45px;
}
.diff-color{
    color:lightsalmon;
}
.flexible-container{
    display: flex;
    margin-bottom: 125px;
}
.half-width{
    width: 50%;
    padding-left: 100px;
    text-align: justify;
}
.half-width img{
    width: 70%;
    margin-top: 5px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(252, 149, 157),rgb(248, 45, 96));
    color: white;
    font-weight: 800;
    padding: 10px 40px;
    border-radius: 7px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item{
    width: 40%;
    margin-left: 5% ;
    padding: 15px;
    text-align: justify;
    box-shadow: 10px 10px 40px rgb(99, 99, 99);
    border-radius: 15px;

}
#dev-experience{
    border-left: 8px solid;
    border-image: linear-gradient(rgb(255, 156, 75),rgb(190, 26, 127));
    border-image-slice: 1;
}
#junior-experience{
    border-left: 8px solid;
    border-image: linear-gradient(rgb(119, 235, 255),rgb(24, 26, 134));
    border-image-slice: 1;

}
footer p{
    text-align: center;

}